.pag{
    margin: 0 auto;

}

.pugFunc{

    width: 300px;
    display: flex;
    margin: 20px auto;
    font-size: 15px;
}
.pugFunc li{
    cursor: pointer;
    margin: 10px;
    list-style-type: none;
    border: 1px solid gray;
    padding: 2px 8px;
    border-radius:3px ;
}